.single-header {
    margin-bottom: 4.5rem;
    text-align: center;
}

.page-template .single-header {
    margin-top: var(--header-spacing);
}

.single-meta {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--secondary-text-color);
    text-transform: uppercase;
}

.single-meta-item + .single-meta-item::before {
    padding: 0 0.3rem;
    font-family: serif;
    content: "\02022";
}

.single-meta-tag .post-tag {
    color: var(--brand-color);
}

.single-title-nav {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    align-items: center;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.title-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--secondary-text-color);
    transition: color 0.2s ease;
}

.title-nav-previous {
    grid-column: 1;
}

.single-title-nav .single-title {
    grid-column: 2;
}

.title-nav-next {
    grid-column: 3;
}

.title-nav:hover {
    color: var(--brand-color);
}

.title-nav .navigation-icon {
    width: 24px;
    height: 24px;
}

.single-title {
    margin-bottom: 0;
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -0.1rem;
    word-break: break-word;
}

.has-serif-title .single-title {
    font-family: var(--font-serif);
}

.single-excerpt {
    margin-top: 2rem;
    font-size: 1.8rem;
    word-break: break-word;
}

.has-serif-body .single-excerpt {
    font-family: var(--font-serif);
}

.single-media {
    margin-top: 4.5rem;
}

.single-cta {
    padding: 3rem;
    margin-top: 4rem !important;
    text-align: center;
    border-top: 5px solid var(--brand-color);
    border-bottom: 1px solid var(--light-gray-color);
}

.single-cta-title {
    margin: 0 0 3rem !important;
}

.single-cta-button {
    margin-bottom: 1rem;
    font-weight: 800 !important;
}

.single-cta-footer {
    font-size: 1.4rem;
    font-weight: 400 !important;
    letter-spacing: -0.02rem;
}

.single-footer {
    display: flex;
    justify-content: center;
    margin-top: 4.5rem;
}

.single-footer-middle {
    display: flex;
    flex-direction: column;
}

.single-footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-footer-title {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.single-footer-bottom {
    margin-top: 2rem;
}

@media (max-width: 767px) {
    .single-header {
        margin-bottom: 3rem;
    }

    .single-title {
        font-size: 2.6rem;
    }

    .single-title-nav {
        padding: 0 0.5rem;
    }

    .title-nav .navigation-icon {
        width: 20px;
        height: 20px;
    }

    .single-excerpt {
        font-size: 1.7rem;
    }

    .single-media {
        margin-top: 3rem;
    }
}
